*~
*.pem
*.cma
*.cmxa
*.cmo
*.cmi
*.cmx
*.cmxs
*.o
*.so
*.a
*.swp
*.opt
*.run
.omakedb*
OMake*.omc
*.annot
*.sig
*.log
gmon.out
/src/toplevel
/test/benchmark
/test/test
/src/build_config.mk
/src/build_config.mk.omc
